#landing
  text-align: center
  img
    margin: 200px auto
    padding: 0px
    transition: box-shadow 0.1s ease
    -moz-transition: box-shadow 0.1s ease
    -o-transition: box-shadow 0.1s ease
    -webkit-transition: box-shadow 0.1s ease
    &:hover
      box-shadow: 0 0 70px 5px #F60
      border-radius: 5px
      cursor: pointer
    img
      vertical-align: middle
